<f:layout name="DefaultLayout" />

<f:section name="Main">
	<div class="container">

		<f:if condition="{contentAside}">
			<f:then>
				<div class="col-md-9">
					<f:format.raw>{contentMain}</f:format.raw>
				</div>
				<div class="col-md-3">
						<f:format.raw>{contentAside}</f:format.raw>
				</div>
			</f:then>
			<f:else>
				<div class="col-md-12">
					<f:format.raw>{contentMain}</f:format.raw>
				</div>
			</f:else>
		</f:if>


	</div>
</f:section>